{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Animales</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Animal</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de animales</p>
          <a href="/animal" class="btn btn-outline-primary">Ir a Animal</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Nutrientes</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de nutrientes</p>
          <a href="/nutriente" class="btn btn-outline-secondary">Ir a Nutriente</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Usuarios</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Usuario</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de usuarios.</p>
          <a href="/usuario" class="btn btn-outline-primary">Ir a Usuario</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Nutrientes</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de nutrientes</p>
          <a href="/nutriente" class="btn btn-outline-secondary">Ir a Nutriente</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Productos</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Producto</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de productos.</p>
          <a href="/producto" class="btn btn-primary">Ir a Producto</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Nutrientes</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de nutrientes</p>
          <a href="/nutriente" class="btn btn-outline-secondary">Ir a Nutriente</a>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Pedidos</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Pedido</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de pedidos.</p>
          <a href="/pedido" class="btn btn-primary">Ir a Pedido</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Nutrientes</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de nutrientes</p>
          <a href="/nutriente" class="btn btn-outline-secondary">Ir a Nutriente</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Empleados</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Empleado</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de empleados.</p>
          <a href="/empleado" class="btn btn-primary">Ir a Empleado</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
